@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hatton;
  src: url('/fonts/Hatton-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: hatton-medium;
  src: url('/fonts/Hatton-Medium.otf') format('opentype');
}

@font-face {
  font-family: hatton-semibold;
  src: url('/fonts/Hatton-Semibold.otf') format('opentype');
}
