@font-face {
	font-family: Underdog;
	src: url('../../public/fonts/Underdog/Underdog-Regular.ttf');
}

@font-face {
	font-family: Nixie One;
	src: url('../../public/fonts/Nixie_One/NixieOne-Regular.ttf');
}

@font-face {
	font-family: Londrina Sketch;
	src: url('../../public/fonts/Londrina_Sketch/LondrinaSketch-Regular.ttf');
}
