@media screen and (max-width: 600px) {
	.heading {
		line-height: 1;
	}
}

.boop {
	color: var(--clr-white) !important;
}
.boop:hover {
	background-color: var(--clr-bg-500) !important;
}
.boop:active {
	background-color: transparent;
	color: var(--clr-white) !important;
}
