.add-button,
.remove-button {
	font-size: 0.75rem;
}

.pair {
	background-color: hsl(0, 0%, 95%);
	padding: 0.75rem;
	border: 1px solid var(--clr-lightgrey-300);
	border-radius: var(--radius);
}

.container {
	display: flex;
	height: 100vh;

	& > aside {
		border-right: 2px dotted grey;
		overflow-y: scroll;
		flex: 1;

		span {
			position: relative;
			// border-top: 2px dotted grey;
		}
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		flex: 2.5;

		& > textarea {
			flex: 1;
		}
	}
}
