@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	/* colors */
	--clr-black: #333;
	--clr-white: #fff;
	--clr-lightgrey-100: hsl(0, 0%, 90%);
	--clr-lightgrey-200: hsl(0, 0%, 80%);
	--clr-lightgrey-300: hsl(0, 0%, 70%);

	/* vars */
	--radius: 5px;
}

.button-base {
	padding: 0.4em 0.7em;
	border-radius: var(--radius);
	border: 1px solid var(--clr-black);
	background: transparent;
	color: var(--clr-black);
	font-size: 1rem;
	cursor: pointer;
	line-height: 1;
	transition: background-color 50ms ease-in-out;
}
.button-base:hover {
	background-color: var(--clr-black);
	color: var(--clr-white);
}
.button-base:active {
	background-color: transparent;
	color: var(--clr-black);
}

.input-base {
	border: 1px solid var(--clr-black);
	border-radius: var(--radius);
	font-size: 1rem;
	padding: 0.5rem 0.75rem;
}
.input-base::placeholder {
	font-size: 0.8em;
	color: var(--clr-lightgrey-100);
}
