@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	/* colors */
	--clr-black: #333;
	--clr-white: #fff;
	--clr-lightgrey-100: hsl(0, 0%, 90%);
	--clr-lightgrey-200: hsl(0, 0%, 80%);
	--clr-lightgrey-300: hsl(0, 0%, 70%);

	/* vars */
	--radius: 5px;
}

/* BUTTONS */
.button-base {
	padding: 0.25em 0.55em;
	border-radius: var(--radius);
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	line-height: 1;
	font-size: 1rem;
	transition: background-color 25ms ease-in-out;
	transition: border-color 25ms ease-in-out;
}
.button-base:active {
	scale: 0.95;
}

/* INPUTS */
.input-base {
	border-style: solid;
	border-radius: var(--radius);
	padding: 0.5rem 0.75rem;
}
label:has(input[id]) > input {
    margin-top: .25em;
}
.input-base::placeholder {
	font-size: 0.8em;
	color: var(--clr-lightgrey-100);
}

*[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -15px;
    left: 50%;
    translate: -50% 0;
    border-radius: 5px;
    font-size: .75rem;
}
